<nav class="nav">
  <h1>E-COMM</h1>
  <div class="nav-search">
    <input
      type="text"
      name="search-product"
      class="search-product"
      placeholder="Search the Products"
    />
    <button type="button" name="search-product-button">Search</button>
  </div>
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="seller-auth">Seller</a></li>
    <li *ngIf="showSellerLogout">
      <a routerLink="seller-login">Seller Login</a>
    </li>

    <li *ngIf="!showSellerLogout">
      <a routerLink="seller-logout">Seller Logout</a>
    </li>

    <li><a href="#">Login</a></li>
  </ul>
</nav>
