<nav class="nav">
  <h1><a routerLink="">E-COMM</a></h1>
  <div *ngIf="menuType === 'default'" class="nav-search">
    <input
      type="text"
      name="search-product"
      class="search-product"
      placeholder="Search the Products"
    />
    <button type="button" name="search-product-button">Search</button>
  </div>
  <div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
      <li><a routerLink="seller-login">Login</a></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="seller-add-product">Add Product</a></li>
      <li><a routerLink="seller-home">Products</a></li>
      <li><a (click)="logout()">Logout</a></li>
      <li>
        <span class="seller-account-name">
          {{ sellerDisplayName }}
        </span>
      </li>
    </ul>
  </div>
</nav>
