<div class="seller-auth">
  <div class="signup">
    <h1>Seller Sign-Up</h1>
    <form
      #sellerSignUp="ngForm"
      class="common-form"
      (ngSubmit)="submitSellerSignUp(sellerSignUp.value)"
    >
      <input
        class="form-text"
        type="text"
        name="name"
        ngModel
        placeholder="Enter Name"
      />
      <input
        class="form-text"
        type="password"
        name="password"
        ngModel
        placeholder="Enter Password"
      />
      <input
        class="form-text"
        type="text"
        name="email"
        ngModel
        placeholder="Enter Email"
      />
      <button class="form-button" type="submit" name="signup_button">
        SignUp
      </button>
    </form>
  </div>
</div>
